body{
    background-color: #122;
    font-family: arial;
    color: white;
}

#title-bar-container{
    width:100%;
}

#title{
    width:100%;
    margin: 0 auto;
    text-align: center;
}

#title>h3{
    display:inline;
    margin-right: 10px;
}

#actions, #actions2,  #input-container, #team-container, #team-name-container{
    width:35%;
    text-align: left;
}

#actions2{
    width:35%;
    text-align: left;
    margin-left: 122px;
    margin-top: 2px;
}


input[type=number]{
    width: 30px;
}

.teamBtns, .playerBtns{
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;    
}

.showFrame{
    cursor: pointer;   
}


.active {
  background-color: #666;
  color: white;
}

.teamBtns:hover, .actionBtns:hover{
  background-color: #bfbfbf;
  color: white;
}

#image-loader{
    text-align: center;
    margin-left: 305px;
}

#canvas2{
    margin-left: 35px;
}

#table-button-container{
    width:30%;
    text-align: left;
    display:inline-block;
    margin-right: 455px;
}

#table-container{
    width: 100%;
    overflow-y: scroll;
    height:300px;
    margin-top:10px;
    display:inline;
    float:left;
    margin: 0 auto;
    margin-left:0 auto;
}

#data{
    height:200px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 20px 0;
}

#pitch-container{
    display:inline-block; 
    float: left;
    vertical-align: top;
}

#button-container{
    width:100%;
    text-align: center;
    margin-top: 15px;
    margin: 0 auto;
    display: inline;
    float: left;
    margin-right: 20%;
}

#export{
    margin:0 auto;
}


#button-container>button{
    margin-top:5px;
}

td{
    text-align: center;
    padding = 10px 0;
}